<header>
    <a href="{% url 'home' %}" class="logo-link">
        <h1>GymFlow</h1>
    </a>
    <nav>
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="logout-button">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </nav>
</header>